/* .filterbtn {
  display: none;
} */

span{
  margin: 0 1em;
  overflow-y: hidden;
  align-self: center;
}

legend {
  display: flex;
  font-size: 1.5rem;
}

/* #region Filter */
.filter {
  display: grid;
  padding: var(--primaryPadding);
  background-color: var(--tertiaryColor);

  & legend {
    justify-self: center;
  }

  & .labels {
    display: grid;
    height: 0;
    transition: 0.5s;
  }

  /* toggle class */
  & .show {
    height: 150px;
  }
}
/* #endregion Filter */


.initiatief{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(352px, 352px)); /*Zorgt ervoor dat de grid automatisch verandert met het scherm*/
  justify-content: center;
  width: 100vw;
  list-style: none;

  & li {
    margin: var(--primaryMargin);
    width: fit-content;
    height: fit-content;
    justify-self: center;
  }

  & li a {
    display: flex;
    text-decoration: none;
    color: var(--darkColor100);
  }

  & .card {
    margin: 0;
  }
}

/*#region MediaQueries*/
@media only screen and (min-width: 700px){
  body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "h h"
      "n n"
      "a m"
      "f f";
  }
  
  header{
    grid-area: h;
  }
  
  nav{
    grid-area: n;
  }
  
  aside{
    grid-area: a;
    width: 200px;
  }

  /* .filterbtn{
    display: flex;
    font-size: 1.5em;
  } */

  .filter {
    overflow-y: hidden;
    width: 200px;
    /* & legend {
      display: none;
    } */
  }
  
  main{
    grid-area: m;
  }

  footer{
    grid-area: f;
  }
}

@media only screen and (min-width: 980px){
  aside{
    background-color: var(--tertiaryColor);
  }

  /* .filterbtn{
    display: none;
  } */

  .filter{
    /* & legend{
      display: flex;
    } */

    & .labels {
      height: 150px;
    }
  }

  .initiatief{
    width: 85vw;
  }
}
/*#endregion MediaQueries*/