aside{
  padding: var(--primaryPadding);
  background-color: var(--tertiaryColor);
}

/* #region Filter */
.filter {
  & legend {
    display: flex;
    justify-self: center;
    font-size: 1.5rem;

    & span{
      margin: 0 1em;
      align-self: center;
      overflow-y: hidden;
    }
  }

  & .labels {
    display: grid;
    height: 0;
    transition: 0.5s;
  }

  /* toggle class */
  & .show {
    height: 150px;
  }
}
/* #endregion Filter */


.initiatief{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(352px, 352px)); /*Zorgt ervoor dat de grid automatisch verandert met het scherm*/
  justify-content: center;
  width: 100vw;
  list-style: none;

  & li {
    margin: var(--primaryMargin);
    width: fit-content;
    height: fit-content;
    justify-self: center;
  }

  & li a {
    display: flex;
    text-decoration: none;
    color: var(--darkColor100);
  }

  & .card {
    margin: 0;
  }
}

form{
  display: grid;
}

/*#region MediaQueries*/
@media only screen and (min-width: 750px){
  body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "h h"
      "n n"
      "a m"
      "f f";
  }
  
  header{
    grid-area: h;
  }
  
  nav{
    grid-area: n;
  }
  
  aside{
    grid-area: a;
  }
  
  main{
    grid-area: m;
  }

  footer{
    grid-area: f;
  }

  .initiatief{
    width: 85vw;
  }
}

@media only screen and (min-width: 980px){
  body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "h h"
      "n n"
      "a m"
      "f f";
  }
  
  header{
    grid-area: h;
  }
  
  nav{
    grid-area: n;
  }
  
  aside{
    grid-area: a;
  }
  
  main{
    grid-area: m;
  }

  footer{
    grid-area: f;
  }

  .initiatief{
    width: 85vw;
  }  
}
/*#endregion MediaQueries*/