nav ul li:nth-child(3){
  background-color: var(--hereColor);
}
main{
	  display: grid;
  justify-items: center;
}
p{
	margin: var(--primaryMargin);
	padding: var(--primaryPadding);
}

form{
	margin: auto;
	width: 400px;
	display: grid;

	& label{
		margin: 0 var(--primaryMargin);
		border: none;
		padding-bottom: 3px;
		display: flex;
	}

	& input {
		margin: 0 var(--primaryMargin);
		border: 1px solid var(--primaryColor);
		padding: 1em;
		width: 30vw;
		min-width: 300px;
		height: 5vh;
	}

	& textarea {
		margin: 0 var(--primaryMargin);
		border: 1px solid var(--primaryColor);
		padding: 1em;
		width: 30vw;
		min-width: 300px;
		height: 25vh;
	}
}

button{
	position: relative;
	margin: var(--primaryMargin) 2vh;
}
